.w-30 {
  width: 30px;
}
.w-60 {
  width: 60px;
}
.w-80 {
  width: 80px;
}
.w-90 {
  width: 90px;
}
.w-120 {
  width: 120px;
}
.w-160 {
  width: 160px;
}
.w-220 {
  width: 220px;
}
#foodmenu {
  max-width: 1185px;
}